*{
	box-sizing: border-box;
}
li{
	line-height: 20px;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	border: 1px solid;
}

.header img{
	height: 100%;
	width: 33.33%;
	display: inline-block;
	float: left;
}
.content{
	position: relative;
	top: 300px;
}

h1{
	font-family: raleway, sans-serif;
	font-size: 28px;
}
h2{
	color:grey;
	font-size: 34px;
	line-height: 1%;
}
.content{
	margin: 0 5px 0 5px;
}
.title{
width:100%;
float: left;
}
.main{
	width:70%;
	float: left;
}
.side{
	width: 30%;
	float: left;
	border-left: 1px solid grey;
	padding: 0 0 0 5px;
}
